@model IEnumerable<fifness.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index wellcom @WebSecurity.CurrentUserName </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYSINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIOITINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHANXET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KHUYENMAI.TENKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHANVIEN.TENNV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYSINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOITINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHANXET)
        </td>
        <td>
            <img src="~/img/img_Content/@item.HINH"  />
            @*@Html.DisplayFor(modelItem => item.HINH)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KHUYENMAI.TENKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHANVIEN.TENNV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAKH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAKH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAKH })
        </td>
    </tr>
}

</table>
